<div class="popup popup--order">
    <button class="close_popup mfp-close" type="button"></button>
    <section class="block_wrap">
        <h1 class="popup__title">Ваш заказ №325325213</h1>
        <p class="popup__text">Трек-номер заказа <a href="#" class="popup__link popup__link--order">RE2841723918</a>,<br> используйте его на сайте транспортной компании для отслеживания заказа</p>
        <a href="#" class="btn_red">Отслеживать заказ на СДЭК</a>
    </section>
</div>
