<div class="popup popup--review">
    <button class="close_popup mfp-close" type="button"></button>
    <section class="block_wrap">
        <p>Купальник понравился! Чашка формованная, со вставками, лямки отстегиваются, застежка
            металлическая. ОГ 98, ОБ 106. Рекомендую. Сидит идеально. Только цвет ближе к
            зелёному, но это не критично.</p>
        <p>Когда зашла на их сайт глаза загорелись и "полетела душа в рай"... Выбрала штук 10,
            но заказала на пробу 2 и один верх-бандо, т. к. его можно было комбинировать с
            трусами от первых двух. Заказывала самые маленькие S, сели идеально, как на меня
            шили!</p>
        <p>Качество просто улет! (made in China). За 2 недели пребывания в Египте на 40
            градусной жаре, ни выцвел цветной купальник ни капли!</p>
        <div class="review-image">
            <img src="img/instashop4.jpg" alt="">
        </div>
    </section>
</div>
